

body {
  background-color: #3673af; 
  color: #343a40; 
  font-family: 'Arial', sans-serif; 
}

.app-container {
  background-color: #3673af; 
  max-width: auto;
  margin: 0 auto;
  padding: 20px;
}

h2 {
  color: #007bff; 
}


